<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img class="mb-2" src="https://res.cloudinary.com/manojthapaa/image/upload/v1631940473/visit_camp/FlagofNepal_ouygx6.gif" alt="Image" style="height: 40px;">
      <span  class="h2 text-white">Nepal Campground</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-50" id="navbarNav">
        <ul class="navbar-nav ms-auto float-start">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/campgrounds">Campgrounds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/campgrounds/new">New Campground</a>
          </li>
          <% if(!currentUser) { %> 
            <li class="nav-item">
              <a href="/login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
              <a href="/register" class="nav-link">Register</a>
            </li>
          <% } else { %> 
            <li class="nav-item">
              <a href="/logout" class="nav-link">Logout</a>
            </li>
          <% } %> 
        </ul>
      </div>
    </div>
</nav>
